.Xauthority
.android/
.aws/credentials
.azure/
.cache/

.config/Google/
.config/QtProject.conf
.config/Thunar/
.config/autostart/
.config/aws/credentials
.config/cef_user_data/
.config/chromium/
.config/cpupower_gui/
.config/dconf/
.config/docker/
.config/dotfiles/
.config/evolution/
.config/flameshot/
.config/font-manager/
.config/grammarly-languageserver/
.config/htop/
.config/irb/
.config/jupyter/
.config/lazygit/
.config/libreoffice/
.config/mimeapps.list
.config/neofetch/
.config/newsboat/urls
.config/nvtop/
.config/pavucontrol.ini
.config/pulse/
.config/qalculate/
.config/secrets
.config/settings
.config/spotify/
.config/tool_state
.config/variety/
.config/vlc/
.config/window-geometry.conf
.config/xdg-terminals.list
.config/xfce4/
.config/zoom.conf
.config/zoomus.conf
.config/zsh/.zcompdump*

.dart-tool/
.dart/
.dartServer/
.dmrc
.flutter
.flutter-devtools/
.gnupg/
.icons/
.java/
.keras/
.local/
.mozilla/
.netrc
.npm/
.password-store/
.pki/
.pub-cache/
.ssh/
.ssr/
.streamlit/
.terraform.d/
.wget-hsts
.xsession-errors
.xsession-errors.old
.zoom/

Downloads/
dev/

.DS_Store  # in case I'm using these linux dotfiles on mac
