.CFUserTextEncoding
.DS_Store
.Xauthority
.android/
.aws/
.azure/
.cache/
.cdk/
.cljs/
.clojure_history
.config/Android Open Source Project/
.config/Code - OSS/
.config/Google/
.config/JetBrains/
.config/QtProject.conf
.config/Thunar/
.config/VirtualBox/
.config/autostart/
.config/aws/credentials
.config/calibre/
.config/cef_user_data/
.config/chromium/
.config/clojure/.clj-kondo/
.config/clojure/.clj-lsp/
.config/clojure/.cpcache/
.config/colima/
.config/configstore/
.config/corectrl/
.config/cpupower_gui/
.config/dconf/
.config/docker/
.config/dotfiles/
.config/evolution/
.config/flameshot/
.config/font-manager/
.config/go/
.config/grammarly-languageserver/
.config/gtk-3.0/bookmarks
.config/htop/
.config/ibus/
.config/irb/
.config/jupyter/
.config/k9s/
.config/lazygit/
.config/libreoffice/
.config/mimeapps.list
.config/neofetch/
.config/newsboat/urls
.config/nvtop/
.config/org.coolercontrol.CoolerControl/
.config/pavucontrol.ini
.config/pulse/
.config/pypoetry/
.config/qalculate/
.config/secrets
.config/settings
.config/spotify/
.config/systemd/
.config/tool_state
.config/unity3d/
.config/variety/
.config/vlc/
.config/window-geometry.conf
.config/xdg-terminals.list
.config/xfce4/
.config/zoom.conf
.config/zoomus.conf
.config/zsh/.zcompcache/*
.config/zsh/.zcompdump*
.dart-tool/
.dart/
.dartServer/
.dmrc
.docker
.dsgui/
.emulator_console_auth_token
.fehbg
.flutter
.flutter-devtools/
.gnupg/
.hex/
.icons/
.java/
.keras/
.kotlinc_history
.local/
.m2/
.mix/
.mozilla/
.netrc
.ollama/
.password-store/
.pki/
.pub-cache/
.python_history
.sbcl_history
.slime/
.slime-history.eld
.sly-mrepl-history
.ssh/
.ssr/
.steam/
.steampath
.steampid
.streamlit/
.terraform.d/
.vscode-oss/
.vscode/
.wget-hsts
.xsession-errors
.xsession-errors.old
.yarnrc
.zoom/

Books/
Desktop/
Development/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
dev/
work/
